/* contatos */

#container-contatos {
    background-color: #D51B21;
    width: 100vw;
    height: 75.1vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#nome {
    background-color: rgb(17, 0, 255);
    display: flex;
}

#email {
    background-color: rgb(17, 0, 255);
    display: flex;
}

#cel {
    background-color: rgb(50, 42, 161);
    display: flex;
}
/* fim Contatos */